
.expert-container {
    background-color: black;
    padding:20px;
}
.expert h1{
    text-align: center;
    color: #045e0d;
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}

.expert-main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    width:90%;
    margin:auto;
    
}

.expert-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.expert-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.expert-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.expert-item:hover img {
    transform: scale(1.1);
}

/* Media Queries */
@media (max-width: 1024px) {
    .expert-main {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .expert-main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .expert-main {
        grid-template-columns: 1fr;
    }
}
