.goal {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 30px;
}

.goal-title {
    text-align: center;
    color: #4CAF50;
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.goal-subtitle {
    text-align: center;
    color: #555;
    margin-bottom: 30px;
}

.goal-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    margin: auto;
}

.goal-image-container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goal-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 55%;
}

.goal-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: transform 0.3s ease;
    padding: 10px;
}

.goal-item:hover {
    transform: translateY(-5px);
}

.goal-item img {
    width: 55%;
    border-radius: 10px;
}

.goal-item p {
    font-size: 1rem;
    color: #333;
    margin-top: 10px;
    font-weight: 700;
}

.goal-main-image {
    width: 60%;
    border-radius: 10px;
}

@media (max-width: 1024px) {
    .goal-container {
        flex-direction: column;
        align-items: center;
    }

    .goal-image-container {
        width: 80%;
        margin-bottom: 20px;
    }

    .goal-main {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
}

@media (max-width: 768px) {
    .goal-main {
        grid-template-columns: 1fr;
    }
}
