.static-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 20px;
    background-color: #f7f7f7;
    width: 90%; 
    margin: 0 auto; 
}

.static h1 {
    text-align: center;
    color:green;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.static-container > div:first-child {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

@keyframes pulse {
    0% {
        opacity: 0.8; 
        transform: scale(0.95); 
    }
    50% {
        opacity: 1; 
        transform: scale(1);
    }
    100% {
        opacity: 0.8; 
        transform: scale(0.95); 
    }
}

.static-container > div:first-child img {
    width: 80%;
    height: auto;
    object-fit: cover;
    animation: pulse 2s ease-in-out infinite; 
}


.static-main {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 20px;
}

.static-main div {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
    background-color: #fff;
    padding: 20px;
    text-align: left;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.static-main div img {
    width: 50%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin:0 auto;
}
.static-main div .sec-img{
    margin-top: 10px;
}
.static-main div:hover {
    background-color: #eceff1;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.static-main div p {
    font-size: 0.9rem;
    color: #333;
    padding-top: 10px;
}

@media (max-width: 1024px) {
    .static-container {
        flex-direction: column;
        align-items: center;
    }

    .static-container > div:first-child {
        margin-bottom: 30px;
    }
    
    .static-container > div:first-child img {
        width: 250px;
        height: 250px;
    }

    .static-main {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

@media (max-width: 768px) {
    .static-container > div:first-child img {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 480px) {
    .static-main {
        grid-template-columns: 1fr;
    }

    .static-container > div:first-child img {
        width: 150px;
        height: 150px;
    }
}
